* {
    box-sizing: border-box;
}

h1 {
    font-size: 1rem;
    color: #F4D04E;
}

body {
    background: #F4D04E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.attribution {
    position: fixed;
    bottom: 30px;

}

.card {
    margin-top: 200px;
    width: 384px;
    height: 522px;
    background: #fff;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 10px 10px black;
}

.imgBox {
    width: 336px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    padding: 0.3em 1em;
    border-radius: 5px;
    background-color: #F4D04E;
    display: inline-block;
}

.footerImg {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.avatarInfo {
    display: flex;
    align-items: center;
    margin-bottom: ;
}